@charset "utf-8";
:root {
    --shadow-in: 0 0 10px rgba(100, 100, 100, 0.2) inset, 1px 1px 1px #CCC;
    --shadow-out: 0 0 10px rgba(100, 100, 100, 0.2), 1px 1px 1px #fff;
    --radius: 4px;
    --home-bgc: rgba(106, 15, 90, 0.64);
    --main-color: rgb(105, 20, 89);
    --main-color-trans: rgba(105, 20, 89, .8);
    --meer: rgb(127, 171, 208);
    --parks: rgb(232, 164, 84);
    --natur: rgb(179, 207, 120);
    --by-color: rgb(175, 96, 162);
    --by-color-trans: rgba(175, 96, 162, .8);
    --nav-height: 3.5rem;
    --nav-mobile-height: 3rem;
    --btn-size-s: 7.5rem;
    --btn-size-m: 11.25rem;
    --btn-size-l: 15rem;
    --btn-height: 1.55rem;
    --trans: all ease 0.25s;
    --trans-ease: all ease-in 0.2s;
    --font-small: .75rem;
    --font-input: .9rem;
    --h2-mobile: 2rem;
    --h3-mobile: 1.6rem;
    --p-mobile: 1.1rem;
}

* {
    box-sizing: border-box;
}


/* DESKTOP VIEW STARTpage > 1280px width */

body {
    font-family: 'Raleway', sans-serif;
    color: #333;
    font-weight: 300;
    margin: .5rem auto;
    width: 100vw;
    min-width: 400px;
    max-width: 100vw;
    min-height: 100vh;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Happy Monkey', cursive;
}
.wrapper h1 {
    font-size: 2.5em;
    color: var(--main-color);
}
.wrapper h2 {
    font-size: 2.125em;
}
.wrapper h3 {
    font-size: 1.75em;
}
.wrapper p, ul, a {
    font-size: 1.125rem;
}
.wrapper input, textarea {
    border: none;
    font-size: var(--font-input);
}
label:after {
    content: ' *';
}


/* Standard-Erscheinungsbild in Chrome & Safari entfernen: */

.wrapper input[type='search']::-webkit-search-cancel-button, .wrapper input[type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
}
.wrapper textarea {
    resize: none;
    padding: 1em;
    width: 90%;
}
#static strong, b {
    font-weight: 700;
}


/* Wrapper that defines CSS Grid Areas for Navigation, general Content and Footer */

.wrapper {
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: var(--nav-height) 1fr min-content;
    grid-template-areas: 'toparea search' 'inner inner' 'footer footer';
    height: 100vh;
    margin: 0 auto;
    position: relative;
}


/* Wrapper that defines the slider (header), content and sidebar on the Homepage */

.wrapperHome {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 30rem 1fr auto;
    grid-template-areas: 'header header' 'content content' 'sidebar sidebar';
    grid-area: inner;
    margin: 0 auto;
}


/* Wrapper for all Detailpages that only show one travel - defines header and content area*/

.wrapperDetail {
    grid-template-rows: 30rem auto;
    grid-template-areas: 'header header' 'content content';
    grid-area: inner;
}


/* Wrapper for lists, like categorylist and static content like contact or privacy - only content area needs to be defined*/

.wrapperList, .wrapperStatic {
    grid-template-rows: auto;
    grid-template-areas: 'content content';
    width: inherit;
    grid-area: inner;
    padding: 0 2.5rem;
    max-width: 1440px;
    margin: 0 auto;
}


/* CSS Grid where placement of main and sidebar is defined */

.content {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-items: space-around;
    grid-template-areas: 'main main' 'sidebar sidebar';
    grid-area: content;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 1rem;
}


/* Helper */


/* display: remove inline-block gap https://css-tricks.com/fighting-the-space-between-inline-block-elements/*/

.no-gap {
    font-size: 0;
}


/* Back to Top BUTTON */

#btnUp {
    display: none;
    position: fixed;
    transform: rotate(270deg);
    bottom: 4rem;
    right: 4rem;
    background-color: var(--by-color-trans);
    color: white;
    border: none;
    border-radius: 50%;
    padding: .8rem 1rem;
    cursor: pointer;
    z-index: 4000;
    transition: background 250ms;
    -webkit-transition: background 250ms;
    -moz-transition: background 250ms;
}
#btnUp:hover {
    background-color: var(--main-color-trans);
}


/* GENERAL Button Style */

.btns {
    -webkit-appearance: none;
    background-color: var(--main-color);
    border-radius: var(--radius);
    padding: 1rem;
    cursor: pointer;
    color: white;
    border: none;
}


/* classes to set fixed width for different buttons sizes */

.btn-s {
    width: var(--btn-size-s);
}
.btn-m {
    width: var(--btn-size-m);
}
.btn-l {
    width: var(--btn-size-l);
}


/* NAV and LOGO - CSS Grid Area */

#logoAndNav {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: var(--nav-height);
    grid-template-areas: 'logo nav';
    grid-area: toparea;
}


/* LOGO */

.logo {
    display: grid;
    grid-area: logo;
    height: var(--nav-height);
    width: 7.5rem;
    margin-left: 1em;
}

.logo img {
    display: grid;
    align-self: center;
    width: 100%;
    margin-top: -4px;
}


/* NAVI */

#nav {
    grid-area: nav;
    background-color: white;
    height: var(--nav-height);
}

#nav ul {
    display: grid;
    grid-template-columns: auto;
    grid-auto-flow: column;
    list-style: none;
    height: var(--nav-height);
    padding: 0;
    margin: 0;
}

#nav a {
    text-decoration: none;
    text-align: center;
    color: var(--main-color);
    transition: var(--trans-ease);
    border-radius: var(--radius);
}

#nav a:hover {
    color: white;
}

.nav-item {
    display: grid;
    grid-auto-flow: column;
    background-color: #fff;
    height: var(--nav-height);
    line-height: var(--nav-height);
    width: 94%;
}

.nav-item a:hover {
    margin-top: .5rem;
    height: 44px;
    line-height: 44px;
    width: 94%;
    border-radius: var(--radius);
}

.start a:hover {
    background-color: var(--main-color);
}

.sea a:hover {
    background-color: var(--meer);
}

.park a:hover {
    background-color: var(--parks);
}

.nature a:hover {
    background-color: var(--natur);
}

.contact a:hover {
    background-color: var(--by-color);
}


/* hide mobile Nav Icon */

.navi {
    display: none;
}


/* SEARCH */

.top-search {
    display: grid;
    grid-area: search;
    margin: .625em .625em .625em 1.25em;
    height: 2.5em;
    border: 1px solid var(--main-color);
    border-radius: var(--radius);
}

.top-search form {
    display: grid;
    grid-template-columns: 9em 1fr;
    grid-auto-flow: column;
    align-content: space-around;
    justify-items: stretch;
}

#search {
    border: none;
    height: 2.25rem;
    margin: 0;
    padding: .25rem .35rem;
    font-size: 0.75rem;
    color: #333;
}

#searchBtn {
    display: inline;
    font-size: 0.75em;
    height: 35px;
    background-color: #fff;
    border: 1px solid transparent;
    color: var(--main-color);
}

#travelSearch {
    display: none;
}

#travelSearch option {
    position: absolute;
    color: var(--main-color);
    width: inherit;
    top: 3rem;
    right: 0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 3000;
}


/* HEADER */

#header {
    display: grid;
    position: relative;
    grid-area: header;
    /* name for grid area, that is used to set the position within the wrapper*/
    height: 30rem;
    width: 100vw;
    background-size: cover;
}


/* FALLBACK for deactivated JS -> Slider */

.homeBild {
    background: url('../img/slider/berge2560.jpg') center center no-repeat;
    background-origin: content-box;
    background-size: cover;
}


/* SLIDER */

.slider, .detail {
    position: relative;
    overflow: hidden;
    height: inherit;
    background-color: rgba(255, 255, 255, 0.2);
}

#moveIt {
    position: relative;
    left: 0;
    width: 100vw;
    height: inherit;
    display: inline-block;
    transition: left 500ms;
    -webkit-transition: left 500ms;
    -moz-transition: left 500ms;
}

.sliderImg {
    width: 100vw;
    height: -webkit-fill-available;
    height: inherit;
    z-index: 1700;
    transition: background 250ms;
    -webkit-transition: background 250ms;
    -moz-transition: background 250ms;
}


/* general styling for slider arrow buttons */

.arrowBtn {
    display: none;
    position: absolute;
    top: 40%;
    background-color: var(--by-color);
    color: white;
    opacity: 0.7;
    border: none;
    border-radius: 50%;
    margin: 10px;
    padding: .8rem 1rem;
    cursor: pointer;
    z-index: 1990;
    transition: background 250ms;
    -webkit-transition: background 250ms;
    -moz-transition: background 250ms;
    font-size: 1rem;
    line-height: 1rem;
}

.arrowBtn:hover {
    background-color: var(--main-color);
}

.btnNext {
    right: 0%;
}

.btnPrev {
    left: 0%;
}

#point-nav {
    text-align: center;
    position: absolute;
    bottom: 1rem;
    left: 45%;
    z-index: 2000;
}

#point-nav span {
    background-color: white;
    opacity: 0.8;
    border-radius: 50%;
    width: .9rem;
    height: .9rem;
    display: inline-block;
    margin-right: .25rem;
}

#point-nav span:hover {
    opacity: 0.9;
    cursor: pointer;
}

#point-nav span.active {
    background-color: var(--by-color-trans);
    transition: background 350ms;
    -webkit-transition: background 350ms;
    -moz-transition: background 350ms;
}


/* DETAIL IMG*/

.detail {
    position: absolute;
}

.detailBild img {
    grid-area: 2 / 1 / auto / auto;
    width: 100vw;
    height: -webkit-fill-available;
    height: 30rem;
    z-index: 1700;
}


/* TEASER Startseite */

.teaser {
    position: relative;
    padding: 1em;
    color: white;
    background-color: rgba(175, 96, 162, 0.85);
    border-radius: var(--radius);
    z-index: 1990;
}

.teaser:hover {
    transform: translate(0, -3px);
}

.teaserHome {
    position: absolute;
    top: 20%;
    left: 10%;
    width: 45%;
    height: 60%;
    font-size: 1.3rem;
    line-height: normal;
}

a .teaserBtn {
    text-decoration: none;
    color: var(--by-color);
    font-size: 1em;
    cursor: pointer;
    padding: 0;
    transition: var(--trans-ease);
}

a .teaserBtn:hover {
    color: white;
}

.teaserBtn {
    position: absolute;
    right: 2%;
    bottom: 4%;
    border-radius: var(--radius);
    background-color: white;
    border: none;
    padding: 0.5em;
    height: 1.875rem;
    width: var(--btn-size-m);
}

.teaserPreis {
    position: absolute;
    top: -21.5%;
    left: 80%;
    width: 140px;
    height: 140px;
    background-color: var(--main-color);
    border-radius: 50%;
    text-align: center;
}

.preisProPerson {
    position: absolute;
    top: 29%;
    left: 14%;
    font-size: 1.4em;
    font-weight: bold;
}

.teaserPreisEdit {
    position: absolute;
    top: 57%;
    left: 19%;
}

.kurzBeschreibung {
    padding-right: 6rem;
}

.reiseStart, .reiseEnde {
    font-size: 1.2em;
}

.teaser .titel {
    font-size: 2rem;
    margin-top: 2%;
    color: white;
}


/* TEASER Detailseite */

.teaserDetail {
    position: absolute;
    top: 30%;
    left: 17.5%;
    width: 65%;
    height: 20%;
}

.teaserDetail .teaserPreis {
    top: 50%;
    left: 83%;
}

.teaserDetail .titel {
    text-align: center;
    margin-top: 0.2em;
    font-size: 2.5rem;
}

.deatil a .teaserBtn {
    font-size: 2rem;
}

.detail .teaserBtn {
    position: absolute;
    top: 55%;
    left: 40%;
    height: 3rem;
    width: var(--btn-size-l);
}


/* MAIN-CONTENT Startseite */

main {
    display: grid;
    grid-area: main;
    padding: 10px 20px;
}

.top-reisen {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: auto auto;
    grid-column-gap: 10px;
    justify-items: stretch;
}

.top-reisen article {
    position: relative;
    justify-items: stretch;
    border: 1px solid transparent;
}

.top-reisen article img {
    width: 100%;
    box-shadow: var(--shadow-in);
}

.top-reisen article span {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--by-color-trans);
    padding: 1em;
    color: white;
    border-bottom-left-radius: 2em;
}

.regions {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-gap: .5em;
    position: relative;
}

.regions img {
    width: 100%;
}

.regions span {
    display: none;
}

.regions a:hover span {
    display: block;
    font-size: 0.7rem;
    text-decoration: none;
    color: var(--main-color);
    position: absolute;
    top: -1rem;
}


/* MAIN-CONTENT Catergoy-List */

.reiseVorschau {
    display: grid;
    grid-template-columns: 40% 45% 12%;
    grid-gap: 1em;
    margin: 2em 0;
    padding: 2em;
    width: 100%;
}

.reiseVorschau img {
    width: 100%;
}

.reiseVorschau:nth-child(even) {
    background-color: var(--meer);
    color: white;
}

.reiseVorschau:nth-child(even) a {
    color: white;
}

.reiseVorschau:nth-child(even) img {
    box-shadow: var(--shadow-out);
}

.reiseVorschau:nth-child(even) button {
    background-color: white;
    color: var(--meer);
}

.parks.reiseVorschau:nth-child(even) {
    background-color: var(--parks);
    color: white;
}

.parks.reiseVorschau:nth-child(even) a {
    color: white;
}

.parks.reiseVorschau:nth-child(even) img {
    box-shadow: var(--shadow-out);
}

.parks.reiseVorschau:nth-child(even) button {
    background-color: white;
    color: var(--parks);
}

.parks.reiseVorschau:nth-child(odd) button {
    color: white;
    background-color: var(--parks);
}

.parks.reiseVorschau:nth-child(odd) .reiseInfos a {
    color: var(--parks);
}

.natur.reiseVorschau:nth-child(even) {
    background-color: var(--natur);
    color: white;
}

.nautr.reiseVorschau:nth-child(even) a {
    color: white;
}

.natur.reiseVorschau:nth-child(even) img {
    box-shadow: var(--shadow-out);
}

.natur.reiseVorschau:nth-child(even) button {
    background-color: white;
    color: var(--natur);
}

.natur.reiseVorschau:nth-child(odd) button {
    color: white;
    background-color: var(--natur);
}

.natur.reiseVorschau:nth-child(odd) .reiseInfos a {
    color: var(--natur);
}

.reiseImg {
    position: relative;
}

.reiseImg .region {
    position: absolute;
    background-color: var(--by-color-trans);
    top: .25em;
    left: 0;
    text-transform: uppercase;
    color: white;
    padding: 0.5em;
    letter-spacing: 1px;
    font-weight: bold;
}

.reiseInfos h3 {
    margin-top: .2em;
}

.reiseInfos a {
    text-decoration: underline;
    color: var(--meer);
}

.reiseInfos p {
    padding-right: .5rem;
}

.reiseBtn {
    display: grid;
    align-content: space-between;
    justify-content: center;
}

.reiseBtn .vorschauPreis {
    margin-top: 1em;
    font-size: 1.7em;
    font-weight: 700;
    justify-self: center;
}

.reiseBtn button {
    font-size: .9em;
    width: var(--btn-size-s);
    border-radius: var(--radius);
    padding: .4em;
    border: none;
    background-color: var(--meer);
    transition: var(--trans);
    color: white;
    margin-right: 0.4rem;
}

.reiseBtn button:hover {
    text-decoration: underline;
}


/* MAIN of detailpage */

#detailContent {
    grid-template-columns: 4fr 2fr;
    grid-template-areas: 'main sidebar';
}

#booking-mobile {
    display: none;
}

#dscBild {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-gap: .5rem;
}

#dscBild img {
    justify-self: space-between;
    width: 100%;
}


/* MAIN static pages like imprint and TOS */

#static {
    padding: 0 10em;
}


/* CONTACTPAGE */

.contactForm {
    display: grid;
    grid-template-rows: repeat(4, auto);
    border: 1px solid var(--main-color);
    border-radius: var(--radius);
    padding: 2em;
    margin: 2rem auto;
    min-width: 96%;
    max-width: 53rem;
}

.contactForm form {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-gap: 2em;
}

.contactForm button, .bookingForm button {
    color: white;
    background-color: var(--by-color);
    border: 1px solid transparent;
    border-radius: var(--radius);
    transition: var(--trans-ease);
    padding: .5rem;
}

.contactForm button {
    grid-column: 2 / 3;
}

.contactForm button:hover, .bookingForm button:hover, .teaserBtn:hover {
    background-color: var(--main-color);
}

#message {
    border-right: 1px solid var(--main-color);
    min-width: 25rem;
}

#recipient {
    display: grid;
    grid-template-columns: 5em 15em;
    grid-template-rows: repeat(6, auto);
    grid-gap: 2em;
    align-items: baseline;
    min-width: 23rem;
}

#recipient input {
    border-bottom: 1px solid var(--main-color);
    height: 3.5em;
    padding: 1em 1.5em;
    box-sizing: border-box;
    font-family: 'Happy Monkey', sans-serif;
}

#frage {
    font-family: 'Bilbo Swash Caps', cursive;
    font-size: 1.5em;
    height: 17em;
    border: none;
}

.briefmarke {
    display: grid;
    justify-self: end;
    width: 7em;
    height: 7em;
    margin-bottom: 3em;
}

.telefon {
    color: #333;
    text-align: right;
    text-decoration: none;
}

.telefon:hover {
    font-weight: 700;
}


/* BOOKING PAGE */

.booking h3, .booking p, .booking li {
    color: #333;
    padding: 0;
    margin: 0;
}

.booking h3 {
    padding-bottom: 1em;
}

.booking {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
}

.bookingForm {
    border: 1px solid var(--main-color);
    border-radius: var(--radius);
    padding: 1em;
}

.bookingForm .row {
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: 1fr;
    grid-template-columns: 10rem 30rem;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 1rem;
}

.bookingForm .row input {
    height: 3.5em;
    padding: 1em 1.5em;
    grid-column: 2 / 3;
    border-bottom: 1px solid var(--main-color);
}

.bookingForm .radio {
    padding-right: 1em;
}

.bookingForm button {
    margin: 2em 0 1rem;
    grid-column: 1 / span 2;
    font-size: 1.25rem;
}

.bookingForm small {
    grid-column: 1 / span 2;
}


/* MAIN About us Page */

.profile {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-column-gap: 1em;
    margin-bottom: 2em;
}

.profile img {
    width: auto;
}


/* SIDEBAR  Startseite */

.aside {
    display: grid;
    grid-template-rows: auto;
    grid-area: sidebar;
    background-color: white;
    padding: .75rem 1.5rem;
}

.aside h2, .aside h3 {
    text-align: center;
}

.transport, .tkInfos, .kurzKnapp {
    display: grid;
    color: var(--main-color);
    grid-column-gap: 1rem;
    grid-row-gap: .625rem;
}

.transport, .tkInfos {
    grid-auto-flow: column;
}

.transport {
    justify-items: center;
}

.transport div {
    width: 3.75rem;
}

.transport a {
    color: var(--main-color);
}

.transport a:hover {
    color: var(--by-color);
}

.tkInfos {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    height: auto;
    margin-bottom: 5em;
    grid-gap: .5em;
}

.tkInfos div {
    justify-items: stretch;
    align-self: center;
    height: 3.75em;
    padding: 1.5em 1em 1em;
    text-align: center;
    box-sizing: content-box;
    color: white;
    line-height: 1.5em;
    border-radius: var(--radius);
}

.tkInfos div:nth-child(1), .tkInfos div:nth-child(4) {
    background-color: var(--meer);
}

.tkInfos div:nth-child(2), .tkInfos div:nth-child(5) {
    background-color: var(--parks);
}

.tkInfos div:nth-child(3), .tkInfos div:nth-child(6) {
    background-color: var(--natur);
}

.tkInfos>div>span {
    font-size: 1.2em;
    font-family: 'Happy Monkey', cursive;
}

.tkInfos #tkInfosPlan:hover {
    background: url(../img/tkInfo/plan.jpg)
}

.tkInfos #tkInfosKids:hover {
    background: url(../img/tkInfo/kids.jpg)
}

.tkInfos #tkInfosCare:hover {
    background: url(../img/tkInfo/care.jpg)
}

.tkInfos #tkInfosFits:hover {
    background: url(../img/tkInfo/fits.jpg)
}

.tkInfos #tkInfosLocal:hover {
    background: url(../img/tkInfo/local.jpg)
}

.tkInfos #tkInfosDur:hover {
    background: url(../img/tkInfo/duration.jpg)
}

/* SIDEBAR kurz und knapp Detailseite */

.kurzKnapp {
    grid-auto-flow: row;
    justify-items: start;
    align-content: start;
}

.kurzKnapp ul {
    display: grid;
    grid-template-columns: 1em 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 1.5rem;
}

.kurzKnapp li {
    list-style: none;
}

.kurzKnapp img {
    width: 100%;
}

.booking.kurzKnapp {
    border: 1px solid var(--main-color);
    padding: 2rem;
    margin: 1rem 0;
    border-radius: var(--radius);
}

.kurzKnapp.booking span {
    width: 15rem;
    display: inline-block;
    font-weight: bold;
    padding-bottom: 0.5rem;
}

#emotionBild {
    width: 90%;
    justify-content: center;
}


/* FOOTER */

footer {
    grid-area: footer;
    background-color: var(--main-color);
    width: 100vw;
    height: fit-content;
}

footer ul {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-around;
    align-items: center;
}

footer ul li {
    list-style: none;
    padding-top: 20px;
}

footer a {
    text-decoration: none;
    color: white;
    font-weight: 200;
}

footer a:hover {
    text-decoration: underline;
}


/* DESKTOP ANSICHT bis 1280px Breite */

@media (max-width: 1280px) {
    .wrapper {
        max-width: 1280px;
    }
    .content {
        height: auto;
        width: 90%;
    }
    .reiseBtn {
        justify-content: end;
    }
}


/* TABLET ANSICHT */

@media (max-width: 992px) {
    .wrapper {
        max-width: 992px;
        grid-template-columns: 1fr;
        grid-template-rows: var(--nav-height) var(--nav-height) 1fr min-content;
        grid-template-areas: 'toparea' 'search' 'inner' 'footer';
    }
    .wrapperHome {
        grid-template-rows: 20em 1fr 1fr;
        grid-template-areas: 'header' 'content' 'sidebar';
    }
    .wrapperDetail {
        grid-template-rows: 20em auto;
        grid-template-areas: 'header' 'content';
    }
    .wrapperList, .wrapperStatic {
        grid-template-rows: 1fr;
        grid-template-areas: 'content';
        padding: 0 1rem;
    }
    .content {
        grid-template-rows: auto auto;
        grid-template-areas: 'main' 'sidebar';
        width: 95%;
    }
    /* BUTTONS */
    #btnUp {
        bottom: 4.8rem;
        right: 2rem;
    }
    /* NAV AND LOGO */
    #logoAndNav {
        grid-template-columns: 1fr 5fr;
    }
    #nav {
        /* Burger button */
        color: var(--main-color);
        width: 5rem;
        justify-self: end;
        background-color: inherit;
    }
    #nav::before {
        content: '\2261';
        font-size: 4rem;
        text-align: center;
        line-height: .8em;
        cursor: pointer;
    }
    #nav ul {
        display: none;
        /* hide nav */
        width: auto;
        position: absolute;
        top: var(--nav-height);
        right: 0;
        border-radius: var(--radius);
    }
    #nav:hover ul {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-flow: row;
        background-color: var(--by-color-trans);
    }
    .nav-item {
        background-color: #fff;
        height: var(--nav-height);
        width: 20rem;
        line-height: var(--nav-height);
        text-align: right;
        border-color: var(--main-color);
        border-left: 1px solid;
        border-right: 1px solid;
        box-shadow: var(--shadow);
        z-index: 5000;
    }
    .nav-item:first-child {
        border-top: 1px solid;
        border-top-left-radius: var(--radius);
    }
    .nav-item:last-child {
        border-bottom: 1px solid;
        border-bottom-left-radius: var(--radius);
    }
    .nav-item a {
        padding: 0 1rem;
    }
    .nav-item:hover, .nav-item a:hover {
        color: #fff;
        background-color: var(--main-color);
        border-radius: 0;
        border: none;
    }
    /* LOGO */
    .logo {
        width: 100px;
        margin-left: 1em;
    }
    .logo img {
        width: 90%;
        margin-top: inherit;
    }
    /* SEARCH */
    .top-search {
        margin: 0 auto;
        height: 2.5rem;
        width: 98%;
    }
    .top-search form {
        grid-template-columns: 5fr 1fr;
        align-content: center;
    }
    #search {
        padding: .55em .55em;
    }
    #header {
        height: 20em;
    }
    /* SLIDER und DETAILBILD */
    .teaser {
        position: relative;
        padding: 1em;
        color: white;
        background-color: rgba(175, 96, 162, 0.85);
        border-radius: var(--radius);
    }
    .teaser p {
        font-size: 1rem;
    }
    .teaserDetail {
        position: absolute;
    }
    .teaserHome {
        top: -85%;
        left: 12%;
        width: 75%;
        height: 70%;
    }
    .teaserBtn {
        padding: 0.25em;
        height: 1.75rem;
    }
    .teaserPreis {
        top: -25%;
        left: 85%;
        width: 120px;
        height: 120px;
    }
    .preisProPerson {
        left: 12%;
    }
    .teaserPreisEdit {
        left: 18%;
    }
    .kurzBeschreibung {
        padding-right: 4rem;
        font-size: 1rem !important;
    }
    .reiseStart, .reiseEnde {
        font-size: 1.1rem;
    }
    .teaser .titel {
        margin-top: 1%;
        font-size: 2.15rem;
    }
    /* TEASER Detailseite */
    .teaserDetail {
        height: 25%;
    }
    .detail .teaserBtn {
        left: 30%;
        top: 58%;
    }
    main {
        padding: 0.25em 0.5em;
    }
    .top-reisen {
        position: relative;
        grid-template-columns: 3fr 3fr;
        grid-column-gap: 0.25rem;
        grid-template-rows: auto auto auto;
    }
    .top-reisen article img {
        width: 95%;
    }
    .top-reisen article span {
        right: 5%;
    }
    .regions {
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: auto auto;
        grid-gap: 1em;
    }
    .regions a:hover span {}
    /* MAIN-CONTENT KategorieListe */
    .reiseVorschau {
        grid-template-columns: 30% 55% 15%;
    }
    .reiseImg .region {
        font-size: var(--font-small);
    }
    .reiseInfos p {
        padding-right: 2rem;
    }
    .reiseBtn {
        justify-content: end;
    }
    .reiseBtn .vorschauPreis {
        font-size: 1.3em;
        font-weight: normal;
    }
    .reiseBtn button {
        justify-self: center;
    }
    .reiseBtn button:hover {
        text-decoration: underline;
    }
    /* MAIN Detailseite */
    #detailContent {
        grid-template-columns: 1fr;
        grid-template-rows: min-content auto;
        grid-template-areas: 'main' 'sidebar';
    }
    .langeBeschreibung {
        width: 100%;
    }
    #dscBild {
        grid-column-gap: .5em;
    }
    /* MAIN der statischen Seiten */
    #static {
        padding: .1rem 2% 0;
    }
    /* CONTACTPAGE */
    .contactForm {
        padding: 1rem;
    }
    .contactForm form {
        grid-template-columns: 1fr;
        grid-template-areas: 'recipient' 'message';
    }
    .contactForm button {
        grid-column: 1 / 2;
        padding: 1rem;
    }
    #message {
        border: none;
        grid-area: message;
    }
    #recipient {
        grid-template-rows: repeat(2, auto);
        padding: 0 2rem;
        grid-area: recipient;
    }
    #recipient label {
        grid-column: 1 / 2;
    }
    #recipient input {
        grid-column: 2 / 3;
    }
    #frage {
        width: 95%;
        grid-column: 1 / 2;
    }
    .briefmarke {
        display: none;
    }
    /* BOOKING PAGE */
    .booking.kurzKnapp {
        padding: 0.5rem;
    }
    .bookingForm .row {
        grid-template-columns: 30vw 55vw;
        justify-content: space-between;
    }
    .bookingForm .row input {
        padding: 1rem;
    }
    /* SIDEBAR */
    aside {
        grid-template-columns: 1fr;
        grid-auto-flow: row;
        grid-column-gap: 1rem;
        padding: 0.25rem 0.5rem;
        height: auto;
    }
    /* Sidebar STARTSEITE */
    .tkInfos {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto auto;
    }
    /* SIDEBAR kurz und knapp Detailseite */
    .kurzKnapp ul {
        grid-column: 1 / 2;
    }
    #emotionBild {
        grid-column: 2 / 3;
        width: 100%;
    }
}


/* META VIEW for image and text column mixes */

@media (max-width: 760px) {
    .reiseVorschau {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }
    .wasser.reiseVorschau {
        border: 1px solid var(--meer);
    }
    .parks.reiseVorschau {
        border: 1px solid var(--parks);
    }
    .natur.reiseVorschau {
        border: 1px solid var(--natur);
    }
    .reiseImg .region {
        font-size: 1em;
    }
    .reiseBtn {
        justify-content: center;
    }
    .reiseBtn .vorschauPreis {
        margin: 1em 0;
        font-size: 1.3em;
        font-weight: normal;
        justify-self: center;
    }
    #dscBild {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 1fr 1fr;
        width: 99%;
    }
    .booking {
        display: grid;
        grid-template-columns: 1fr;
        padding: 1em;
        border: 1px solid var(--by-color);
        border-radius: var(--radius);
    }
    .bookingForm .row {
        grid-template-columns: 30vw 50vw;
        justify-content: start;
    }
    #footer ul li a {
        font-size: 0.9rem;
    }
}


/* SMARTPHONE VIEW */

@media (max-width: 560px) {
    .wrapper {
        max-width: 560px;
    }
    .wrapperHome {
        grid-template-rows: 10rem 1fr 1fr;
    }
    .wrapperDetail {
        grid-template-rows: 10rem auto;
    }
    .content {
        width: 100%;
    }
    .wrapper h2 {
        font-size: var(--h2-mobile);
    }
    .wrapper h3 {
        font-size: var(--h3-mobile);
    }
    .wrapper p {
        font-size: var(--p-mobile);
    }
    /* NAV AND LOGO */
    #logoAndNav {
        grid-template-columns: min-content 1fr;
        justify-content: space-between;
    }
    #nav::before {
        padding-left: 0.25rem;
    }
    /* LOGO */
    .logo {
        width: 80px;
        margin-left: 0.5em;
    }
    .logo img {
        width: 100%;
    }
    /* SEARCH */
    .top-search {
        height: calc(var(--nav-mobile-height) - .5em);
        width: 95%;
    }
    .top-search form {
        grid-template-columns: 4fr 1fr;
        justify-items: space-between;
        width: 100%;
    }
    #header, .detail, .slider {
        height: 10rem;
    }
    /* SLIDER und DETAILBILD */
    .detailBild img {
        height: inherit;
        width: 100vw;
    }
    .teaserHome, .teaserDetail, .teaserBtn {
        display: none;
    }
    /* CONTENT Homepage */
    .home, #categoryList, #detailContent {
        padding: 0.5em 0.5em;
        text-align: left;
        hyphens: auto;
    }
    .top-reisen {
        grid-template-columns: 1fr;
        grid-auto-flow: row;
        grid-template-rows: repeat(6, 1fr);
    }
    .top-reisen article {
        border: 1px solid var(--by-color-trans);
        margin-bottom: 1rem;
        border-radius: var(--radius);
    }
    .top-reisen article img {
        width: 100%;
        box-shadow: var(--shadow-in);
    }
    .top-reisen article span {
        right: 0%;
    }
    .top-reisen h3, .top-reisen p {
        padding: 0 1rem;
    }
    .top-reisen .kurzBeschreibung {
        display: block;
    }
    .regions {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto auto auto auto;
    }
    /* MAIN-CONTENT Caegory-List */
    #categoryList {
        width: inherit;
    }
    .reiseVorschau {
        grid-template-columns: 1fr;
        grid-auto-flow: row;
        padding: .5em;
        grid-gap: 0;
        border: 1px solid var(--meer);
    }
    .reiseBtn {
        justify-content: space-around;
        align-content: space-around;
    }
    .reiseBtn .vorschauPreis {
        margin-top: 0;
        font-size: 1.4rem;
        font-weight: bold;
        padding-bottom: 1rem;
    }
    /* CONTENT detailpage */
    .langeBeschreibung .reiseStart, .langeBeschreibung .reiseEnde {
        font-size: var(--h3-mobile);
    }
    #booking-mobile {
        display: grid;
        width: 99%;
        background-color: var(--main-color);
        height: 7.5em;
        justify-content: center;
        align-content: baseline;
    }
    #booking-mobile p {
        text-align: center;
        color: white;
        font-size: 1.4rem;
    }
    #booking-mobile span {
        font-size: 1.125rem;
    }
    #booking-mobile .detailBtn {
        border-radius: var(--radius);
        background-color: white;
        border: none;
        padding: 0.5em;
        height: 1.875rem;
        width: var(--btn-size-l);
    }
   
    /* CONTENT static pages (list and contact) */
    #static {
        padding: .1rem 2% 0;
        height: auto;
    }
    /* CONTACTPAGE */
    .contactForm {
        padding: 0.5rem;
    }
    .contactForm form {
        grid-template-columns: 1fr;
        grid-template-areas: 'recipient' 'message';
    }
    .contactForm button {
        padding: .5rem;
    }
    #recipient {
        grid-template-columns: 3em 60vw;
        grid-template-rows: repeat(2, auto);
        padding: 0.5em;
    }
    #recipient label {
        hyphens: none;
    }
    #frage {
        width: 90%;
    }
    /* BOOKING PAGE */
    .bookingForm button {
        margin: 1rem 0 1rem;
        font-size: 1rem;
    }
    .bookingForm small {
        grid-column: 1 / span 2;
    }
    /* SIDEBAR */
    .aside {
        grid-template-columns: 1fr;
        grid-column-gap: 1rem;
        padding: 0.25rem 0.5rem;
        height: auto;
    }
    /* Sidebar STARTSEITE */
    .transport {
        justify-items: end;
    }
    .transport .fa-3x {
        font-size: var(--h2-mobile);
    }
    /* SIDEBAR kurz und knapp Detailseite */
    .kurzKnapp ul {
        padding: 0.5rem;
    }
    #emotionBild {
        width: 95%;
    }
}


/*! normalize.css v6.0.0 | MIT License | github.com/necolas/normalize.css */


/* Document
   ========================================================================== */


/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */

html {
    line-height: 1.15;
    /* 1 */
    -ms-text-size-adjust: 100%;
    /* 2 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
}


/* Sections
   ========================================================================== */


/**
 * Add the correct display in IE 9-.
 */


/*article, aside, footer, header, nav, section {
    display: block;
}*/


/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}


/* Grouping content
   ========================================================================== */


/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */

figcaption, figure, main {
    /* 1 */
    display: block;
}


/**
 * Add the correct margin in IE 8.
 */

figure {
    margin: 1em 40px;
}


/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
    box-sizing: content-box;
    /* 1 */
    height: 0;
    /* 1 */
    overflow: visible;
    /* 2 */
}


/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}


/* Text-level semantics
   ========================================================================== */


/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
    background-color: transparent;
    /* 1 */
    -webkit-text-decoration-skip: objects;
    /* 2 */
}


/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
    border-bottom: none;
    /* 1 */
    text-decoration: underline;
    /* 2 */
    text-decoration: underline dotted;
    /* 2 */
}


/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b, strong {
    font-weight: inherit;
}


/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b, strong {
    font-weight: 700;
}


/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code, kbd, samp {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}


/**
 * Add the correct font style in Android 4.3-.
 */

dfn {
    font-style: italic;
}


/**
 * Add the correct background and color in IE 9-.
 */

mark {
    background-color: #ff0;
    color: #000;
}


/**
 * Add the correct font size in all browsers.
 */

small {
    font-size: 80%;
}


/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}


/* Embedded content
   ========================================================================== */


/**
 * Add the correct display in IE 9-.
 */

audio, video {
    display: inline-block;
}


/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}


/**
 * Remove the border on images inside links in IE 10-.
 */

img {
    border-style: none;
}


/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
    overflow: hidden;
}


/* Forms
   ========================================================================== */


/**
 * Remove the margin in Firefox and Safari.
 */

button, input, optgroup, select, textarea {
    margin: 0;
}


/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button, input {
    /* 1 */
    overflow: visible;
}


/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button, select {
    /* 1 */
    text-transform: none;
}


/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button, html [type='button'],
/* 1 */

[type='reset'], [type='submit'] {
    -webkit-appearance: button;
    /* 2 */
}


/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner, [type='button']::-moz-focus-inner, [type='reset']::-moz-focus-inner, [type='submit']::-moz-focus-inner {
    border-style: none;
    padding: 0;
}


/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring, [type='button']:-moz-focusring, [type='reset']:-moz-focusring, [type='submit']:-moz-focusring {
    outline: 1px dotted ButtonText;
}


/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
    box-sizing: border-box;
    /* 1 */
    color: inherit;
    /* 2 */
    display: table;
    /* 1 */
    max-width: 100%;
    /* 1 */
    padding: 0;
    /* 3 */
    white-space: normal;
    /* 1 */
}


/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
    display: inline-block;
    /* 1 */
    vertical-align: baseline;
    /* 2 */
}


/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
    overflow: auto;
}


/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type='checkbox'], [type='radio'] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
}


/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type='number']::-webkit-inner-spin-button, [type='number']::-webkit-outer-spin-button {
    height: auto;
}


/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type='search'] {
    -webkit-appearance: textfield;
    /* 1 */
    outline-offset: -2px;
    /* 2 */
}


/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */

[type='search']::-webkit-search-cancel-button, [type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
}


/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
    -webkit-appearance: button;
    /* 1 */
    font: inherit;
    /* 2 */
}


/* Interactive
   ========================================================================== */


/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */

details,
/* 1 */

menu {
    display: block;
}


/*
 * Add the correct display in all browsers.
 */

summary {
    display: list-item;
}


/* Scripting
   ========================================================================== */


/**
 * Add the correct display in IE 9-.
 */

canvas {
    display: inline-block;
}


/**
 * Add the correct display in IE.
 */

template {
    display: none;
}


/* Hidden
   ========================================================================== */


/**
 * Add the correct display in IE 10-.
 */

[hidden] {
    display: none;
}
