@charset "utf-8";
:root {
    --shadow-in: 0 0 10px rgba(100, 100, 100, 0.2) inset, 1px 1px 1px #ccc;
    --shadow-out: 0 0 10px rgba(100, 100, 100, 0.2), 1px 1px 1px #fff;
    --radius: 4px;

    --home-bgc: rgba(106, 15, 90, 0.64);
    --main-color: #6a0f5a;
    --meer: rgb(127, 171, 208);
    --parks: rgb(232, 164, 84);
    --natur: rgb(179, 207, 120);
    --by-color: rgb(175, 96, 162);
    --by-color-trans: rgba(175, 96,162, .8);

    --nav-height: 3.5rem;
    --nav-mobile-height: 3rem;

    --btn-size-s: 7.5rem;
    --btn-size-m: 11.25rem;
    --btn-size-l: 15rem;
    --btn-height: 1.55rem;

    --trans: all ease 0.25s;
    --trans-ease: all ease-in 0.2s;

    --font-small: .75rem;
    --font-input: .9rem;
    --h2-mobile: 2rem;
    --h3-mobile: 1.6rem;
    --p-mobile: 1.1rem;
}

* {
    box-sizing: border-box;
}
/* DESKTOP VIEW STARTpage > 1280px width */

body {
    font-family: 'Raleway', sans-serif;
    color: #333;
    font-weight: 300;
    margin: .5rem auto;
    min-width: 400px;
    max-width: 100vw;
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Happy Monkey', cursive;
    padding-left: 3rem;
}

.wrapper {
    height: 100vh;
    width: 100vw;/*1920px*/
    margin: 0 auto;
    position: relative;
    display: grid;
    grid-auto-flow: row;
    grid-template-areas: 'toparea' 'content' 'footer';
    grid-template-rows: var(--nav-height) auto min-content;
}

.wrapper h1 {
    font-size: 2.3em;
    color: var(--main-color);
}

.wrapper h2 {
    font-size: 2em;
}

.wrapper h3 {
    font-size: 1.6em;
}

.wrapper p, ul, a {
    font-size: 1.125rem;
}

.wrapper form {
    margin: 0 3rem;
    border: 1px solid var(--by-color);
    border-radius: var(--radius);
    padding: 2rem 2.5rem;
}

.wrapper input, textarea {
    border: none;
    font-size: var(--font-input);
}

/* Standard-Erscheinungsbild in Chrome & Safari entfernen: */
.wrapper input[type='search']::-webkit-search-cancel-button,
.wrapper input[type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
}

.wrapper input[type='text'], .wrapper input[type='password'] {
    width: calc(90% - var(--btn-size-s) - 3rem);
    border-bottom: 1px solid var(--main-color);
    margin: 0 1rem;
    height: 2rem;
}

.wrapper textarea {
    resize: none;
    padding: 1rem;
    width: 90%;
}

.btns{
    -webkit-appearance: none;
    background-color: var(--main-color);
    border-radius: var(--radius);
    padding: 1rem;
    cursor: pointer;
    color: white;
    border: none;
}

.btn-xs {
    width: var(--btn-size-s);
    padding: 0.2rem 0.5rem;
    font-size: 0.9rem;
}

.btn-s {
    width: var(--btn-size-s);
    font-size: 0.95rem;
}

.btn-m {
    width: var(--btn-size-m);
    font-size: 1rem;
}

.btn-l {
    width: var(--btn-size-l);
    font-size: 1.1rem;
}

/* FLASH MESSAGES */

.message {
    position: absolute;
    padding: 2rem;
    top: 5vw;
    left: 38vw;
    border: 1px solid var(--natur);
    border-radius: var(--radius);
    background: var(--natur);
    transition: all ease-in-out 3s;
    color: white;
    opacity: 1;
}

.fadeout {
    opacity: 0;
}


/* NAV AND LOGO */

#logoAndNav {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: var(--nav-height);
    grid-template-areas: 'logo nav';
    grid-area: toparea;
}


/* LOGO */

.logo {
    display: grid;
    grid-area: logo;
    height: var(--nav-height);
    width: 7.5rem;
    margin-left: 1em;
}

.logo img {
    display: grid;
    align-self: center;
    width: 100%;
    margin-top: -4px;
}


/* NAVI */

#nav {
    grid-area: nav;
    background-color: white;
    height: var(--nav-height);
}

#nav ul {
    display: grid;
    grid-template-columns: auto;
    grid-auto-flow: column;
    list-style: none;
    height: var(--nav-height);
    padding: 0;
    margin: 0;
}

#nav a {
    text-decoration: none;
    text-align: center;
    color: var(--main-color);
}

#nav a:hover {
    color: white;
    background-color: var(--main-color);
}

.nav-item {
    display: grid;
    grid-auto-flow: column;
    background-color: #fff;
    height: var(--nav-height);
    line-height: var(--nav-height);
    width: 94%;
}

.nav-item a:hover {
    margin-top: .5rem;
    height: 44px;
    line-height: 44px;
    width: 94%;
    border-radius: var(--radius);
}

/* hide mobile Nav Icon */
.navi {
    display: none;
}

/* HEADER */

#header {
    display: grid;
    position: relative;
    grid-area: header;
    height: 25em;
    width: 100%;
    background-size: cover;
}

/* DETAIL IMG*/

.detail {
    position: absolute;
}

.detailBild {
    background: url('../img/detail/amsee-detail.jpg') center center no-repeat;
}

/* FORMS */

.row {
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: 1fr;
    grid-template-columns: 10rem 50rem;
    grid-column-gap: 1rem;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 1rem;
}

.row input {
    height: 3.5em;
    grid-column: 2 / 3;
    border-bottom: 1px solid var(--main-color);
}

.row input[type="file"] {
    height: initial;
    padding: 0;
    margin-top: 1rem;
}

.radio {
    display: grid;
}

.radio label {
    grid-row: 1 / 2;
}

.radio input {
    grid-row: 2 / 3;
}

/* LOGINFORM */

#login {
    width: 45rem;
    height: 100vw;
    margin: 0 auto;
    padding-bottom: 5rem;
}

.loginform {
    display: grid;
    grid-template-columns: 11rem 1fr;
    grid-auto-flow: row;
    grid-gap: 1rem;
}

.loginform label {
    grid-column: 1 / 2;
}

.loginform input[type='text'], .loginform input[type='password'] {
    grid-column: 2 / 1 span;
    padding: 0.1rem 1.5rem;
    width: inherit;
}

.loginform .btns {
    grid-column: 2 / 1 span;
    padding: 0.5rem 1rem;
    margin: 0 1rem;
}

.errormsg{
    font-size: 1rem;
    background-color: rgba(255,0,0,.6);
    color: white;
    border-radius: var(--radius);
    grid-column: 1 / 3;
    padding: 1rem;
}



/* MAIN-CONTENT Reiseliste */

.reise-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
    grid-template-rows: 1fr 1fr;
}


.reise-list div {
    padding: 0 0 1rem 3rem;
}

.reise-list div span:first-child {
    font-weight: bold;
}

.reise-list a {
    text-decoration: none;
}

.reise-list a:hover {
    text-decoration: underline;
}

.regions {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: row;
    grid-gap: .5em;
    position: relative;
    padding: 1rem 1rem 1rem 3rem;
}

.regions div {
    padding: 2rem 0;
}

.regions a {
    position: relative;
}

.regions span {
    position: absolute;
    top: 1rem;
    left: 2rem;
    right: 1rem;
    font-size: 1rem;
    color: var(--main-color);
    text-decoration: none;
}

.regions a:hover span {   
    text-decoration: underline;
}

.regions img {
    width: 80%;
    border-radius: 50%;
    transition: all 100ms ease;
    -moz-transition: all 100ms ease;
    -webkit-transition: all 100ms ease;
    -o-transition: all 100ms ease;
    cursor: pointer;
}

.cats {
    padding-left: 3rem;
}

.cats h3 {
    padding: 0;
}

.cats .circle {
    display: inline-block;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    text-align: center;
    color: white;
    padding: 2rem;
    transition: all 100ms ease;
    -moz-transition: all 100ms ease;
    -webkit-transition: all 100ms ease;
    -o-transition: all 100ms ease;
    cursor: pointer;
}

.circle:hover {
    -moz-transform: translate(0, -3px);
    -webkit-transform: translate(0, -3px);
    -o-transform: translate(0, -3px);
    transform: translate(0, -3px);
}

.cats .circle a {
    display: block;
    margin: 0 auto;
    padding: 0 .1rem;
    line-height: 10rem;
    text-decoration: none;
    color: white;
}
.cats .circle a:hover {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.cats .wasser {
    background-color: var(--meer);
}

.cats .parks {
    background-color: var(--parks);
}

.cats .natur {
    background-color: var(--natur);
}

/* CONTENT Grid-Area */

.content {
    display: grid;
/*    grid-template-columns: 1fr;*/
    grid-template-rows: min-content auto;
    justify-items: start;
    align-content: baseline;
    grid-area: content;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 3rem;
}

#bookings {
    border: 1px solid var(--main-color);
    border-radius: var(--radius);
    margin-bottom: .5rem;
    padding: 1rem; 
}

/* MAIN of detailpage */

#detailContent {
    grid-template-columns: 4fr 2fr;
    grid-template-areas: 'main sidebar';
}


/* MAIN static pages like imprint and TOS */

#static {
    padding: 0 10em;
    height: auto;
}

/* MAIN About us Page */

.profile {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-column-gap: 1em;
    margin-bottom: 2em;
}

.profile img {
    width: auto;
}

/* FOOTER */

footer {
    grid-area: footer;
    background-color: var(--main-color);
    width: 100vw;
/*    height: 4rem;*/
}

footer ul {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-around;
    align-items: center;
}

footer ul li {
    list-style: none;
    padding-top: 20px;
}

footer a {
    text-decoration: none;
    color: white;
    font-weight: 200;
}

footer a:hover {
    text-decoration: underline;
}


/* DESKTOP ANSICHT bis 1280px Breite */

@media (min-width: 993px) and (max-width: 1280px) {
    .wrapper {
        max-width: 1280px;
    }
    .content {
        height: auto;
        width: 90%;
    }

    .reiseBtn {
        justify-content: end;
    }
}


/* TABLET ANSICHT */

@media (min-width: 561px) and (max-width: 992px) {
    .wrapper {
        max-width: 992px;
        grid-template-columns: 1fr;
    }
    .wrapperHome {
        grid-template-rows: var(--nav-mobile-height) var(--nav-mobile-height) 19em 1fr 1fr min-content;
        grid-template-areas: 'toparea' 'search' 'header' 'content' 'sidebar' 'footer';
    }
    .wrapperDetail {
        grid-template-rows: var(--nav-mobile-height) 19em auto min-content;
        grid-template-areas: 'toparea' 'header' 'content' 'footer';
    }
    .wrapperList, .wrapperStatic {
        grid-template-rows: var(--nav-mobile-height) 1fr min-content;
        grid-template-areas: 'toparea' 'content' 'footer';
    }
    .content {
        grid-template-rows: auto auto;
        grid-template-areas: 'main' 'sidebar';
        width: 95%;
    }
    /* NAV AND LOGO */
    #logoAndNav {
        grid-template-columns: 1fr 5fr;
    }

    #nav {
        /* Burger button */
        color: var(--main-color);
        width: 5rem;
        justify-self: end;
        background-color: inherit;
    }

    #nav::before {
        content: '\2261';
        font-size: 4rem;
        text-align: center;
        line-height: .8em;
        cursor: pointer;
    }

    #nav ul {
        display: none; /* hide nav */
        width: auto;
        position: absolute;
        right: 0;
        border-radius: var(--radius);
    }

    #nav:hover ul {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-flow: row;
        top: 2.8rem;
        right: 0;
    }

    .nav-item {
        background-color: #fff;
        height: var(--nav-height);
        width: 20rem;
        line-height: var(--nav-height);
        text-align: right;
        border-color: var(--main-color);
        z-index: 1;
    }

    .nav-item a {
        padding: 0 1rem;
    }

    .nav-item a:hover {
        color: #fff;
        background-color: var(--main-color);
        border-radius: 0;
    }

    /* LOGO */

    .logo {
        width: 100px;
        margin-left: 1em;
    }

    .logo img {
        width: 90%;
        margin-top: inherit;
    }

    /* SEARCH */

    .top-search {
        margin: 0 auto;
        height: 2.5rem;
        width: 98%;
    }

    .top-search form {
        grid-template-columns: 5fr 1fr;
        align-content: center;
    }

    #search {
        padding: .55em .55em;
    }

    #header {
        height: 19em;
    }

    /* SLIDER und DETAILBILD */

    .teaser {
        position: relative;
        padding: 1em;
        color: white;
        background-color: rgba(175, 96, 162, 0.85);
        border-radius: var(--radius);
    }
    .teaser p {
        font-size: 1rem;
    }

    .teaserHome {
        top: 16%;
        left: 10%;
        width: 75%;
        height: 70%;
    }

    .teaserBtn {
        padding: 0.25em;
        height: 1.75rem;
    }

    .teaserPreis {
        top: -25%;
        left: 85%;
        width: 120px;
        height: 120px;
    }

    .preisProPerson {
        left: 12%;
    }

    .teaserPreisEdit {
        left: 18%;
    }

    .kurzBeschreibung {
        padding-right: 4rem;
        font-size: 1rem !important;
    }

    .reiseStart, .reiseEnde {
        font-size: 1.1rem;
    }

    .teaser .titel {
        margin-top: 1%;
        font-size: 1.45rem;
    }

    /* TEASER Detailseite */

    .teaserDetail {
        height: 28%;
    }

    .detail .teaserBtn {
        left: 28%;
    }

    main {
        padding: 0.25em 0.5em;
    }
    .top-reisen {
        position: relative;
        grid-template-columns: 3fr 3fr;
        grid-column-gap: 0.25rem;
        grid-template-rows: auto auto;
    }

    .top-reisen article img {
        width: 95%;
        box-shadow: var(--shadow-in);
    }
    .top-reisen article span {
        right: 5%;
    }

    .regions {
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: auto auto;
        grid-gap: 1em;
        padding: 1rem 1rem 1rem 3rem;
    }

    .regions span {
        display: none;
    }

    .regions a:hover span {
        display: block;
        font-size: 0.7rem;
        text-decoration: none;
        color: var(--main-color);
    }

    .cats .circle {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
    }

    .cats .wasser {
        background-color: var(--meer);
    }

    .cats .parks {
        background-color: var(--parks);
    }

    .cats .natur {
        background-color: var(--natur);
    }

    /* MAIN-CONTENT KategorieListe */
    .reiseVorschau {
        grid-template-columns: 30% 55% 15%;
    }

    .reiseImg .region {
        font-size: var(--font-small);
    }

    .reiseBtn {
        justify-content: end;
    }
    .reiseBtn .vorschauPreis {
        margin-top: 1em;
        font-size: 1.3em;
        font-weight: normal;
        justify-self: center;
    }
    .reiseBtn button {
        width: var(--btn-size-s);
        justify-self: start;
    }
    .reiseBtn button:hover {
        text-decoration: underline;
    }

    /* MAIN Detailseite */
    #detailContent {
        grid-template-columns: 1fr;
        grid-template-rows: min-content auto;
        grid-template-areas: 'main' 'sidebar';

    }
    .langeBeschreibung {
        width: 100%;
    }

    #dscBild {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: .5em;
    }
    #dscBild img {
        justify-self: space-between;
        width: 100%;
    }
    /* MAIN der statischen Seiten */
    #static {
        padding: .1rem 2% 0;
        height: auto;
    }
    /* KONTAKTSEITE */
    .contactForm {
        padding: 1rem;
    }
    .contactForm form {
        grid-template-columns: 1fr;
        grid-template-areas: 'recipient' 'message';
    }

    .contactForm button {
        grid-column: 1 / 2;
        padding: 1rem;
    }

    #message {
        border: none;
        grid-area: message;
    }
    #recipient {
        grid-template-rows: repeat(2, auto);
        padding: 0 2rem;
        grid-area: recipient;
    }
    #recipient label {
        grid-column: 1 / 2;
    }
    #recipient input {
        grid-column: 2 / 3;
    }
    #frage {
        width: 99%;
        grid-column: 1 / 2;
    }
    .briefmarke {
        display: none;
    }

    /* BOOKING PAGE */

    .bookingForm .row {
        display: grid;
        grid-auto-flow: row;
        grid-template-rows: 1fr;
        grid-template-columns: 10em 30em;
        justify-content: center;
        align-items: baseline;
        margin-bottom: 1rem;
    }

    .bookingForm .row input {
        height: 3.5em;
        padding: 1em 1.5em;
        grid-column: 2 / 3;
        border-bottom: 1px solid var(--main-color);
    }

    .bookingForm input[type=text], .bookingForm input[type=email], .bookingForm input[type=number] {

    }

    .bookingForm .radio {
        padding-right: 1em;
    }

    .bookingForm button {
        margin: 2em 0 1rem;
        grid-column: 1 / span 2;
        font-size: 1.25rem;
    }

    .bookingForm small {
        grid-column: 1 / span 2;
    }

    /* SIDEBAR */

    aside {
        grid-template-columns: 1fr;
        grid-column-gap: 1rem;
        padding: 0.25rem 0.5rem;
        height: auto;
    }

    /* Sidebar STARTSEITE */

    .tkInfos {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto auto;
    }

    /* SIDEBAR kurz und knapp Detailseite */

    .kurzKnapp ul {
        grid-column: 1 / 2;
    }

    #emotionBild {
        grid-column: 2 / 3;
        width: 100%;
    }
}


/* META VIEW for image and text column mixes */
@media (max-width: 760px) {
    .reiseVorschau {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        border: 1px solid var(--meer);
    }

    .reiseImg .region {
        font-size: 1em;
    }

    .reiseBtn {
        justify-content: center;
    }
    .reiseBtn .vorschauPreis {
        margin: 1em 0;
        font-size: 1.3em;
        font-weight: normal;
        justify-self: center;
    }

    .booking {
        display: grid;
        grid-template-columns: 1fr;
        padding: 1em;
        border: 1px solid var(--by-color);
        border-radius: var(--radius);
    }

    .bookingForm .row {
        grid-template-columns: 7em 20em;
        justify-content: start;
    }
}

/* SMARTPHONE VIEW */
@media (max-width: 560px) {
    .wrapper {
        grid-template-columns: 1fr;
        max-width: 560px;
    }

    .wrapperHome {
        grid-template-rows: var(--nav-mobile-height) var(--nav-mobile-height) 15em 1fr 1fr min-content;
        grid-template-areas: 'toparea' 'search' 'header' 'content' 'sidebar' 'footer';
    }

    .wrapperDetail {
        grid-template-rows: var(--nav-mobile-height) 15em auto min-content;
        grid-template-areas: 'toparea' 'header' 'content' 'footer';
    }

    .wrapperList, .wrapperStatic {
        grid-template-rows: var(--nav-mobile-height) auto min-content;
        grid-template-areas: 'toparea' 'content' 'footer';
    }

    .content {
        grid-template-areas: 'main' 'sidebar';
        width: 100%;
    }

    .wrapper h2 {
        font-size: var(--h2-mobile);
    }

    .wrapper h3 {
        font-size: var(--h3-mobile);
    }

    .wrapper p {
        font-size: var(--p-mobile);
    }

    /* NAV AND LOGO */

    #logoAndNav {
        grid-template-columns: min-content 1fr;
        justify-content: space-between;
    }

    #nav {
        /* Burger button */
        color: var(--main-color);
        width: 3rem;
        justify-self: end;
        margin-top: -0.5rem;
        background-color: inherit;
        z-index: 5;
    }

    #nav::before {
        content: '\2261';
        font-size: 4rem;
        text-align: center;
        line-height: .8em;
        cursor: pointer;
    }

    #nav ul {
        display: none; /* hide nav */
        width: auto;
        position: absolute;
        right: 0;
        border-radius: var(--radius);
    }

    #nav:hover ul {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-flow: row;
        top: 2.5rem;
        right: 0;
    }

    .nav-item {
        background-color: #fff;
        height: var(--nav-height);
        width: 20rem;
        line-height: var(--nav-height);
        text-align: right;
        border-color: var(--main-color);
        z-index: 1;
    }

    .nav-item a {
        padding: 0 1rem;
    }

    .nav-item a:hover {
        color: #fff;
        background-color: var(--main-color);
        border-radius: 0;
    }

    /* LOGO */

    .logo {
        width: 80px;
        margin-left: 0.5em;
    }

    .logo img {
        width: 100%;
        margin-top: inherit;
    }

    /* SEARCH */

    .top-search {
        margin: 0 auto;
        height: calc(var(--nav-mobile-height) - .5em);
        width: 95%;
    }

    .top-search form {
        grid-template-columns: 4fr 1fr;
        justify-items: space-between;
        width: 100%;
    }

    #search {
        padding: .55em .55em;
    }

    #header {
        height: 15em;
    }

    /* SLIDER und DETAILBILD */

    .teaser {
        position: relative;
        padding: 1em;
        color: white;
        background-color: rgba(175, 96, 162, 0.85);
        border-radius: var(--radius);

    }

    .teaser p {
        font-size: 1rem;
    }

    .teaserHome {
        top: 16%;
        left: 17%;
        width: 65%;
        height: 65%;
    }

    .teaserBtn {
        padding: 0.25em;
        height: 1.55rem;
        width: var(--btn-size-s);
        right: 4%;
        bottom: 6%;
    }

    a .teaserBtn {
        text-decoration: none;
        color: var(--by-color);
        font-size: var(--font-small);
    }

    .teaserPreis, .preisProPerson, .teaserPreisEdit, .kurzBeschreibung, .detail .teaserBtn {
        display: none;
    }

    .reiseStart, .reiseEnde {
        font-size: 1rem;
    }

    .teaser .titel {
        margin-top: 3%;
        font-size: 1.45rem;
    }

    /* TEASER Detailseite */

    .teaserDetail {
        height: 50%;
    }

    /* CONTENT Homepage */

    .home, #categoryList, #detailContent {
        padding: 0.5em 0.5em;
        text-align: left;
        hyphens: auto;
    }
    .top-reisen {
        grid-template-columns: 1fr;
        grid-auto-flow: row;
    }

    .top-reisen article img {
        width: 100%;
        box-shadow: var(--shadow-in);
    }

    .regions {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto auto auto auto;
        grid-gap: 1em;
        padding: 1em;
    }

    /* MAIN-CONTENT Caegory-List */
    #categoryList {
        width: inherit;
    }

    .reiseVorschau {
        grid-template-columns: 1fr;
        grid-auto-flow: row;
        padding: .5em;
        grid-gap: 0;
        border: 1px solid var(--meer);
    }

    .reiseBtn {
        justify-content: space-around;
        align-content: space-around;
    }
    .reiseBtn .vorschauPreis {
        margin-top: 0;
        font-size: 1.4rem;
        font-weight: bold;
        justify-self: center;
        padding-bottom: 1rem;
    }
    .reiseBtn button {
        width: var(--btn-size-s);
        justify-self: center;
    }
    .reiseBtn button:hover {
        text-decoration: underline;
    }

    /* CONTENT detailpage */
    #detailContent {
        grid-template-columns: 1fr;
        grid-template-rows: min-content auto;
        grid-template-areas: 'main' 'sidebar';

    }

    #back-to-cat-Btn {
        background-color: transparent;
        border: none;
        color: inherit;
    }

    .langeBeschreibung {
        width: 100%;
    }

    .langeBeschreibung .reiseStart, .langeBeschreibung .reiseEnde {
        font-size: var(--h3-mobile);
    }

    #booking-mobile {
        display: grid;
        width: 100%;
        background-color: var(--main-color);
        height: 7.5em;
        justify-content: center;
        align-content: baseline;
    }

    #booking-mobile p {
        text-align: center;
        color: white;
        font-size: 1.4rem;
    }

    #booking-mobile span {
        font-size: 1.125rem;
    }

    #booking-mobile .detailBtn {
        border-radius: var(--radius);
        background-color: white;
        border: none;
        padding: 0.5em;
        height: 1.875rem;
        width: var(--btn-size-l);
    }

    #dscBild {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: .5em;
    }
    #dscBild img {
        justify-self: space-between;
        width: 100%;
    }
    /* CONTENT static pages (list and contact) */
    #static {
        padding: .1rem 2% 0;
        height: auto;
    }


    /* CONTACTPAGE */
    .contactForm {
        padding: 0.5rem;
    }
    .contactForm form {
        grid-template-columns: 1fr;
        grid-template-areas: 'recipient' 'message';
    }

    .contactForm button {
        grid-column: 1 / 2;
        padding: .5rem;
    }

    #message {
        border: none;
        grid-area: message;
    }
    #recipient {
        grid-template-columns: 3em 10em;
        grid-template-rows: repeat(2, auto);
        padding: 0.5em;
        grid-area: recipient;
    }
    #recipient label {
        grid-column: 1 / 2;
        hyphens: none;
    }
    #recipient input {
        grid-column: 2 / 3;
    }
    #frage {
        width: 99%;
        grid-column: 1 / 2;
    }
    .briefmarke {
        display: none;
    }

    /* SIDEBAR */

    aside {
        grid-template-columns: 1fr;
        grid-column-gap: 1rem;
        padding: 0.25rem 0.5rem;
        height: auto;
    }


    /* Sidebar STARTSEITE */

    .tkInfos {
        grid-template-columns: 1fr;
        grid-auto-flow: row;
    }

    .transport {
        justify-items: end;
    }

    .transport .fa-3x {
        font-size: var(--h2-mobile);
    }

    /* SIDEBAR kurz und knapp Detailseite */

    .kurzKnapp ul {
        grid-column: 1 / 2;
    }

    #emotionBild {
        grid-column: 2 / 3;
        width: 100%;
    }
}

/*! normalize.css v6.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
    line-height: 1.15;
    /* 1 */

    -ms-text-size-adjust: 100%;
    /* 2 */

    -webkit-text-size-adjust: 100%;
    /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

/*article, aside, footer, header, nav, section {
    display: block;
}*/

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption, figure, main {
    /* 1 */

    display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
    margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
    box-sizing: content-box;
    /* 1 */

    height: 0;
    /* 1 */

    overflow: visible;
    /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
    font-family: monospace, monospace;
    /* 1 */

    font-size: 1em;
    /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
    background-color: transparent;
    /* 1 */

    -webkit-text-decoration-skip: objects;
    /* 2 */
}

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
    border-bottom: none;
    /* 1 */

    text-decoration: underline;
    /* 2 */

    text-decoration: underline dotted;
    /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b, strong {
    font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b, strong {
    font-weight: 700;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code, kbd, samp {
    font-family: monospace, monospace;
    /* 1 */

    font-size: 1em;
    /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
    font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
    background-color: #ff0;
    color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sub {
    bottom: -0.25em;
}
sup {
    top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */
audio, video {
    display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
    border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
    overflow: hidden;
}

/* Forms
   ========================================================================== */

/**
 * Remove the margin in Firefox and Safari.
 */
button, input, optgroup, select, textarea {
    margin: 0;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button, input {
    /* 1 */

    overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button, select {
    /* 1 */

    text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button, html [type='button'],
/* 1 */
[type='reset'], [type='submit'] {
    -webkit-appearance: button;
    /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner, [type='button']::-moz-focus-inner, [type='reset']::-moz-focus-inner, [type='submit']::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring, [type='button']:-moz-focusring, [type='reset']:-moz-focusring, [type='submit']:-moz-focusring {
    outline: 1px dotted ButtonText;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
    box-sizing: border-box;
    /* 1 */

    color: inherit;
    /* 2 */

    display: table;
    /* 1 */

    max-width: 100%;
    /* 1 */

    padding: 0;
    /* 3 */

    white-space: normal;
    /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
    display: inline-block;
    /* 1 */

    vertical-align: baseline;
    /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
    overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type='checkbox'], [type='radio'] {
    box-sizing: border-box;
    /* 1 */

    padding: 0;
    /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type='number']::-webkit-inner-spin-button, [type='number']::-webkit-outer-spin-button {
    height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type='search'] {
    -webkit-appearance: textfield;
    /* 1 */

    outline-offset: -2px;
    /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type='search']::-webkit-search-cancel-button, [type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
    -webkit-appearance: button;
    /* 1 */

    font: inherit;
    /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
/* 1 */
menu {
    display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
    display: list-item;
}

/* Scripting
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */
canvas {
    display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
    display: none;
}

/* Hidden
   ========================================================================== */

/**
 * Add the correct display in IE 10-.
 */
[hidden] {
    display: none;
}
